---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_G2Cs2TMA89Moxj",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1571693452,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "D124A2AC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2Cs2TMA89Moxj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2Cs2TMA89Moxj/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2Cs2TMA89Moxj/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 21 Oct 2019 21:30:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/small-monthly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "small-monthly",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2500,
          "amount_decimal": "2500",
          "billing_scheme": "per_unit",
          "created": 1571425570,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Small Monthly",
          "product": "prod_EYTX7RYhRjcwKD",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Mon, 21 Oct 2019 21:30:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&billing_details[name]=Jane+Doe&card[number]=4242+4242+4242+4242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pm_1FW8SnKXBGcbgpbZTBAe1OWS",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Jane Doe",
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "w4XDzQOFakih5EZM",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1571693453,
          "customer": null,
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Mon, 21 Oct 2019 21:30:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_G2Cs2TMA89Moxj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1FW8SnKXBGcbgpbZTBAe1OWS/attach
    body:
      encoding: UTF-8
      string: customer=cus_G2Cs2TMA89Moxj
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_G2Cs2TMA89Moxj&amount=1000&currency=usd&description=One-time+setup+fee
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1FW8SqKXBGcbgpbZQ7Xjq51P",
          "object": "invoiceitem",
          "amount": 1000,
          "currency": "usd",
          "customer": "cus_G2Cs2TMA89Moxj",
          "date": 1571693456,
          "description": "One-time setup fee",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1571693456,
            "start": 1571693456
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "tax_rates": [

          ],
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Mon, 21 Oct 2019 21:30:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_G2Cs2TMA89Moxj
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1FW8SqKXBGcbgpbZvP8t99yv",
          "object": "invoice",
          "account_country": "US",
          "account_name": "Pay",
          "amount_due": 1000,
          "amount_paid": 0,
          "amount_remaining": 1000,
          "application_fee_amount": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "billing": "charge_automatically",
          "billing_reason": "manual",
          "charge": null,
          "collection_method": "charge_automatically",
          "created": 1571693456,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_G2Cs2TMA89Moxj",
          "customer_address": null,
          "customer_email": "johnny@appleseed.com",
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [

          ],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "footer": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_1FW8SqKXBGcbgpbZQ7Xjq51P",
                "object": "line_item",
                "amount": 1000,
                "currency": "usd",
                "description": "One-time setup fee",
                "discountable": true,
                "invoice_item": "ii_1FW8SqKXBGcbgpbZQ7Xjq51P",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1571693456,
                  "start": 1571693456
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1FW8SqKXBGcbgpbZvP8t99yv/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "D124A2AC-0001",
          "paid": false,
          "payment_intent": null,
          "period_end": 1571693456,
          "period_start": 1571693456,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 1000,
          "tax": null,
          "tax_percent": null,
          "total": 1000,
          "total_tax_amounts": [

          ],
          "webhooks_delivered_at": null
        }
  recorded_at: Mon, 21 Oct 2019 21:30:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1FW8SqKXBGcbgpbZvP8t99yv/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      str[...]
