---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=johnny%40appleseed.com
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_G2DYMDhktAs2tD",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1571695949,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "johnny@appleseed.com",
          "invoice_prefix": "DC1F5E90",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2DYMDhktAs2tD/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2DYMDhktAs2tD/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_G2DYMDhktAs2tD/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Mon, 21 Oct 2019 22:12:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/small-monthly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "small-monthly",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2500,
          "amount_decimal": "2500",
          "billing_scheme": "per_unit",
          "created": 1571425570,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Small Monthly",
          "product": "prod_EYTX7RYhRjcwKD",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Mon, 21 Oct 2019 22:12:29 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2900&confirm=true&confirmation_method=automatic&currency=usd&customer=cus_G2DYzqwRCRGTGc
    headers:
      Authorization:
      - Bearer sk_test_ex0JDdQGDv6z2QmAIVQUOyE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-08-14'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "payment_intent_unexpected_state",
            "doc_url": "https://stripe.com/docs/error-codes/payment-intent-unexpected-state",
            "message": "You cannot confirm this PaymentIntent because it's missing a payment method. To confirm the PaymentIntent with cus_G2DYzqwRCRGTGc, specify a payment method attached to this customer along with the customer ID.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 21 Oct 2019 22:12:30 GMT
recorded_with: VCR 5.0.0
